h1 {
text-align:left;
}

h1, h3 {
padding-bottom: 15px;
}

h3 {
clear: both;
}

#viewItem {
border: 5px solid #E0E0E0;
display:inline;
width: 275px;
background-color: #E0E0E0;
}

#viewOptions, #viewItem {
float:left;
}

#viewItem li {
list-style-type:none;
display: inline;
padding: 5px 0 5px 15px;
}

#viewItem, table {
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
}

table {
text-align:justify;
border: 1px solid #CCC;
}

.gif_format {
float:left; 
padding: 0 10px 10px 0;
}

/* keeps tables from letting footer jump up to the right */
#yw0 {
min-width: 800px;
}